@import url('https://fonts.googleapis.com');
body{
    font-family: 'open Sans',sans-serif;
    background: linear-gradient(45deg, rgb(65, 1, 160), rgb(211, 211, 255) 80%) ;
    
}
nav {
    position:relative;
    margin: 20px auto;
    width: 590px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 0;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
    /* Add the blur effect */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
nav a{
    font-size:15px;
    text-transform:uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #6927b4;
    
    border-radius: 8px;
    transition: all .5s ease 0s;
}
.fa-brands,.fa-apple{
    margin-top: 13px;
}

    img {
        position: absolute;
        bottom: 0;
        left: 260px;
        width: 65%;
    }
h1{
    color: white;
    font-size: 70px;
    margin-top: 30px;
    text-align: center;
}
a:nth-child(1){
    width: 100px;

}
nav .start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;

}
a:nth-child(2){
    width: 110px;
    
}
nav .start-about,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
    
}
a:nth-child(3){
    width: 100px;
    
}
nav .start-blog,a:nth-child(3):hover~.animation{
    width: 100px;
    left: 210px;
    
}
a:nth-child(4){
    width: 160px;
    
}
nav .start-portfolio,a:nth-child(4):hover~.animation{
    width: 160px;
    left: 310px;
    
}
a:nth-child(5){
    width: 120px;
    
}
nav .start-contact,a:nth-child(5):hover~.animation{
    width: 120px;
    left: 470px;
    
}